body {
  display: block;
  margin: 20px;
}

.jumbotron{
  back 
}

h1 {
  font-size: 20vw;
  font-family: 'Chonburi', cursive;
}


label {
  display: inline;
}

h3, #next {
  text-align: center;
  display: inline-block;
  border-radius: 10px;
}

#result {
  font-family: monospace;
  font-weight: bold;
  font-size: 36;
  color: #006613;
}

input[name="option"] {
  float: left;
}

#form div {
  margin: auto;
  max-width: 205px;
}

input, select {
  vertical-align: middle;
}

.button {
  display: inline-block;
  padding: 1em;
  background-color: #79BD9A;
  text-decoration: none !important;
  color: white !important;
}

body {
  text-align: center;
}
