body {
  line-height: 1;
  text-align: center;
  display: block margin: 50px;
}

.jumbotron {
  background-image: linear-gradient(rgb(151, 194, 224), rgb(108, 198, 195), rgb(116, 237, 179));
  text-align: center;
  color: rgb(101, 12, 57);
}

.well {
  text-align: center;
  border-style: solid;
  border: 5 5 5 5;
  border-radius: 10px;
  margin top: 10px;
}

.question {
  text-align: center;
  border-style: solid;
  border: 5 5 5 5;
  border-radius: 10px;
  margin-top: 5px;
  margin-left: 15%;
  margin-right: 15%;
  margin-bottom: 5px;
  padding: 5px;
}

h3, {
  text-align: center;
  display: inline-block;

}

#next {
  color: #bb3444;
  text-decoration: none;
  border-radius: 10%;

}

#next:hover {
  background-color: #c9a311;
}

#result {
  font-family: 'Press Start 2P', cursive;
  font-weight: bold;
  font-size: 45px;
  color: #006613;
}

input {
  float: left;
}

#start{
  margin-top: 300px;
}

#form {
  margin: auto;
  max-width: 205px;
}

.button {
  display: inline-block;
  padding: 15px;
  background-color: #79BD9A;
  text-decoration: none;
  color: white;
}
